.httr-oauth
.Rapp.history
.RData
.Renviron
.Rhistory
.Rproj.user/
.Ruserdata
.vscode/
*_cache/
*_files
*-Ex.R
*.html
*.knit.md
*.utf8.md
**/.quarto/
/.quarto/
/.kilo/
/*.Rcheck/
/*.tar.gz
/cache/
docs
docs/
vignettes/*.html
vignettes/*.pdf
.positai
tests/testthat/Rplots.pdf
